
.main{
	background-color: #222222;
	padding-bottom: 3em;
	color:red;
    text-align: center;
    padding-top: 3em; 
}



.links{
	background-color: #222222;
	padding-bottom: 3em;
	color:red;
    text-align: center;
    padding-top: 3em; 
    padding-bottom: 3em;
}

.pelis h1{
 text-align: center;
 padding-top: 1em;
}

.pelis p{
	padding-top: 3em;
	padding-bottom: 3em;
	
}



.pelis h2{
	padding-top: 2em;
	text-align: center;
}



.pelis iframe{
	width: 600px;
	height: 400px;
	margin: 30 auto;
	display: block;
}

img{
    margin-left: auto;
    margin-right: auto;
    width: 16%;
    padding: 12px;
}

body{

	background-color: lightgray;
}



/* MENUUUUU */

* {
		margin:0px;
		padding:0px;
		font-family: arial;
	}
			
	ul, ol {
		list-style:none;
		margin: auto;
	    width: 50%;
	    padding: 10px;
	}

	.nav > li {
		float:left;
	}

	.nav li a {
		background-color:#000;
		color:#fff;
		text-decoration:none;
		padding:10px 22px;
		display:block;
		align-items: center;
	}

	.nav li a:hover {
		background-color:#434343;
	}

	.nav li ul {
		display:none;
		position:absolute;
		min-width:100px;
	}

	.nav li:hover > ul {
		display:block;
	}

	.nav li ul li {
		position:relative;
	}

	.nav li ul li ul {
		right:-140px;
		top:0px;
	}